.header {
    height: 350px;
}

.header .banner {
    padding: 0;
}

.header .banner img {
    padding: 0;
    width: 100%;
    max-width: 100%;
    height: 280px;
    border: 2px solid grey;
}

.header .logo {
    padding: 0;
}

.header .logo img {
    padding: 0;
    width: 150px;
    max-width: 100%;
    height: 150px;
    border-radius: 99px;
    border: 2px solid black;
    display: flex;
    margin: auto;
    margin-top: -100px;
    transition: 0.4s ease;
}

.header .logo img:hover {
    border: 3px solid black;
    transition: 0.4s;
}